.image_container_bg {
	background-color: #000;
	background-position: center;
	background-repeat:no-repeat;
	}
.image_container {
	width: 400px;
	height: 400px;
	line-height: 400px;
	max-width: 400px;
	max-height: 400px;
	border: 1px solid #999;
	background-repeat:no-repeat;
	background-position:center;
	background-color: #000;
	}
#bw_photo {
	vertical-align: middle;
	max-width: inherit;
	max-height: inherit;
}
.photo_action {
[unselectable=on] -moz-user-select: none; -khtml-user-select: none; user-select: none;
	background-color: #000;
	opacity:0.4;
	filter:alpha(opacity=40);
	color: #fff;
	display: inline-block;
	height: inherit;
	font-size: 1.5em;
	text-decoration: none;
	display: inline-block;
	padding-left:.75em;
	padding-right:.75em;
	}
.photo_action:hover {
	cursor:pointer;
	/*
	background-color: #000;
	opacity:0.4;
	filter:alpha(opacity=40);
	color: #fff;
	*/
	}
#prev_photo {
	float:left;
	}
#next_photo {
	float:right;
	}
#info {
	display: inline-block;
	margin-left: 2em;
	width: 400px;
	}
#title {
	font-weight: normal;
	text-decoration: underline;
}
#description {
}
p.contribute {	
	text-align: right;
	}
#storyform {
	font-size:.8em;
	width: 600px;
	}
#storyform fieldset {
	border:none;
	}
#stories {
	list-style:none;
	padding-left:0px;
	}
#stories li {
	padding-bottom: 4ex;
	}
#stories li:last-child {
	padding-bottom: 0ex;
	}
.story-title {
	text-decoration:underline;
	}
.story-location {
	color: #666;
	}
.story-location:before {
	color: #666;
	}
.story-story:before { content: '"'; }
.story-story:after { content: '"'; }
.story-contributor {
	color: #666;
	}
.story-contributor:before {
	content: '-';
	color: #666;
	}
